---
import "../styles/global.css";
---
<html>
  <body>
    <main>
      <h1>JuanBei Kitchen</h1>

      <p>A place for things we cooked, loved, and want to remember.</p>

      <ul>
        <li><a href="/Shakshuka">Shakshuka</a></li>
      </ul>
    </main>
  </body>
</html>
