---
import "../styles/global.css";
---
<html>
  <body>
    <main>
      <h1>Our Kitchen</h1>

      <p>A place for things we cooked, loved, and want to remember.</p>

      <ul>
        <li><a href="/test">Test</a></li>
      </ul>
    </main>
  </body>
</html>
