---
import "../styles/global.css";
const title = "柠檬鸡 Lemon Chicken";

---
<html lang="zh">
  <head>
    <!-- 👇 THIS LINE FIXES EVERYTHING -->
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>

  <body>
    <main>
      <h1>🍋 柠檬鸡 Lemon Chicken</h1>

      <img
        src="/images/IMG_2676.HEIC"
        alt="Lemon chicken we cooked together"
        class="recipe-photo"
      />


      <p><em>Why we love this:</em> 酸香、舒服，而且每次都成功 😌</p>


      <h2>Ingredients / 食材</h2>
      <ul>
        <li>鸡腿肉</li>
        <li>柠檬</li>
        <li>大蒜</li>
      </ul>

      <h2>Steps / 做法</h2>
      <ol>
        <li>充分调味。</li>
        <li>煎至上色。</li>
        <li>加入柠檬，小火炖。</li>
      </ol>
    </main>
  </body>
</html>
